{include file="menu.html"}    
<html>
    {literal}
    <head>
        <title>Cidade</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="../V/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../V/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../V/css/processo.css">
        <script type="text/javascript">
            function abreListagem(){
                window.location.href="listaCidades.php";
            }
        </script>
    </head>
    {/literal}
    <body>
        <div id="conteudo">
            <div class="container1">
                <div class="asdf">
                    {if $ret eq 'sa'}
                            <span class="label label-success">SUCESSO</span>
                            <span> A cidade foi Alterada com Sucesso!</span>
                     {/if}
                     {if $ret eq 'sc'}
                            <span class="label label-success">SUCESSO</span>
                            <span>A cidade foi Cadastrada com Sucesso!</span>
                     {/if}
                    {if $ret eq 'ea'}
                            <span class="label label-important">ERRO</span>
                            <span> Não foi possivel Alterar.</span>
                    {/if}                     
                    {if $ret eq 'ec'}
                            <span class="label label-important">ERRO</span>
                            <span> Não foi possivel Cadastrar. </span>
                    {/if}                     
                <fieldset id="tabelaCadastro">
                    <legend id="textoNavegacao">&nbsp;&nbsp;Cidade :: {$msg}</legend>
                    <form class="well form-inline" name="formCidade" id="formCidade" method="POST" action="salvaCidade.php">
                        <div class="control-group">
                            <input type="hidden" name="Save" id="Save" value="{$Save}" />
                            <input type="hidden" name="idCidade" id="idCidade" value="{$cidade->getCidade_ID()}" />
                            <div class="controls" style="margin-bottom:10px;">
                                <label for="nomeCidade" class="control-label">Nome Cidade:</label>
                                <input type="text" id="nomeCidade" name="nomeCidade" class="input-xlarge arrendondaInputSelect" value="{$cidade->getCidade_Nome()}">
                            </div>
                            
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">{$nomeBotao}</button>     
                        </div>
                    </form>
                    <button class="btn" onclick="return abreListagem();">Voltar para Listagem</button>
                </fieldset>
            </div>
         </div>
       </div>
    </body>
</html>
