{include file="menu.html"}       
<html>
    {literal}
    <head>
        <title>Preferencias</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="../V/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../V/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../V/css/processo.css">                      
       
        <script type="text/javascript" language="JavaScript" src="../V/js/jquery.js"></script> 
        <script type="text/javascript" language="JavaScript" src="../V/js/_preferencia.js"></script>
        <script type="text/javascript" language="JavaScript" src="../V/js/bootstrap-modal.js"></script> 

                
        <script type="text/javascript">
            function abreListagem(){
                window.location.href="listaClientes.php";
            }
            
   
        </script>
    </head>
    {/literal}
    <body>
        <div id="conteudo">
            <div class="container1">
                <div class="asdf">
                    {if $ret eq 'sc'}
                            <span class="label label-success">SUCESSO</span>
                            <span> A preferência foi Cadastrada com Sucesso!</span>
                    {/if}
                    {if $ret eq 'ec'}
                            <span class="label label-important">ERRO</span>
                            <span> Não foi possivel Cadastrar.</span>  
                    {/if}                                           
                <fieldset id="tabelaCadastro">
                    <legend id="textoNavegacao">&nbsp;&nbsp;Preferências :: {$msg}</legend>
                    <form class="well form-inline" name="formPreferencia" id="formPreferencia" method="POST" action="salvaPreferencia.php">
                        <div class="control-group">
                            <input type="hidden" name="Save" id="Save" value="{$Save}" />
                            <input type="hidden" name="idCliente" id="idCliente" value="{$idCliente}" />                                
                            <p><span class="label">Preferências Objetivas</span></p>   
                            <div class="well" id="fpref" style="border:1px;color:#4D9DA8;border-style:solid; display:none;">
                                <div class="controls" style="margin-bottom:10px;">
                                    
                                   <label class="control-label" id="pergunta" for="pergid"></label>

                                   <input type="hidden" name="pergid" id="pergid" />
                                   <input type="hidden" name="catresp" id="catresp" />
                                   
                                   {foreach from=$categorias item=cat} 
                                    {assign var="categoria" value=$cat->getCatResp_ID()}
                                       <select id= "resposta_{$cat->getCatResp_ID()}" class="arrendondaInputSelect" style="display:none;" >
                                          <option value="">Selecione</option>
                                           {foreach from=$respostas.$categoria item=resp}
                                           <option id="resp_{$resp->getResp_ID()}" value="{$resp->getResp_ID()}" > {$resp->getResp_Valor()} </option> 
                                           {/foreach}
                                       </select>
                                   {/foreach}  
                                   
                                   <label for="opcao" class="control-label" >Prioridade/Opção:</label>
                                   <input type="text" id="opcao" name="opcao" class="input-small arrendondaInputSelect" disabled/>
                                                                      
                                </div>
                                <div class="controls" style="margin-bottom:10px;"> 
                                                                    
                                   <label for="comentario" class="control-label" >Observação:</label>
                                   <textarea  id="comentario" name="comentario" class="input-xlarge"></textarea>
                                    
                                   <p>
                                       <input type="button" value="Salvar" class="btn btn-small" onClick="salva()">
                                   </p>
                                </div>
                            </div>
                       
                            <table id="tabelaPreferencia" class="table tablepref table-bordered table-condensed">
                                <tr>
                                    <th>Pergunta</th>
                                    <th>Resposta</th> 
                                    <th>Observação</th>                                     
                                    <th>Ações</th>
                                </tr>
                                            
                                {foreach from=$preferencias item=pref  name='loop'}
                                {if $pref->getPref_Opcao() > 1}
                                    <tr id="pref_{$pref->getPerg_ID()}_{$pref->getPref_Opcao()}" style="display:none;" class="trdetail">
                                        <td style="text-align:right;">{$pref->getPref_Opcao()}°</td>
                                        <td>{$pref->getResp_Valor()}</td>
                                        <td>{$pref->getPref_Comentario()}</td>
                                        <td>
                                            <a href="#" id="{$pref->getPerg_ID()}" onclick="editar(this);"><i id="edit" class="icon-edit"></i></a>
                                            <a href='#' id="{$pref->getPerg_ID()}" onclick='excluir(this);'><i id="trash" class='icon-trash'></i></a>
                                        </td>
                                        <input type='hidden' name='perg[]' id='perg' value='{$pref->getPerg_ID()}' />
                                        <input type='hidden' name='pergdesc[]' id='pergdesc' value='{$pref->getPerg_Descricao()}' />
                                        <input type='hidden' name='catresp[]' id='catresp' value='{$pref->getCatResp_ID()}' />
                                        <input type='hidden' name='resp[]' id='resp' value='{$pref->getResp_ID()}' />
                                        <input type='hidden' name='op[]' id='op' value='{$pref->getPref_Opcao()}' />
                                        <input type='hidden' name='com[]' id='com' value='{$pref->getPref_Comentario()}' />
                                        <input type='hidden' name='idlinha[]' id='idlinha' value='pref_{$pref->getPerg_ID()}_{$pref->getPref_Opcao()}' />
                                    </tr>
                                {else}
                                    <tr id="pref_{$pref->getPerg_ID()}_{$pref->getPref_Opcao()}">
                                        <td>
                                            <a href='#' id="{$pref->getPerg_ID()}" onclick='opcoes(this);'><i id="open" class='icon-chevron-down'></i></a>
                                            {$pref->getPerg_Descricao()}
                                        </td>
                                        <td>{$pref->getResp_Valor()}</td>
                                        <td>{$pref->getPref_Comentario()}</td> 
                                        <td>
                                            <a href="#" id="{$pref->getPerg_ID()}" onclick="editar(this);"><i id="edit" class="icon-edit"></i></a>
                                            {if $pref->getResp_Valor() neq ''}
                                                <a href='#' id="{$pref->getPerg_ID()}" onclick='adiciona(this);'><i id="plus" class='icon-plus'></i></a>
                                            {/if}
                                        </td>
                                        <input type='hidden' name='perg[]' id='perg' value='{$pref->getPerg_ID()}' />
                                        <input type='hidden' name='pergdesc[]' id='pergdesc' value='{$pref->getPerg_Descricao()}' />
                                        <input type='hidden' name='catresp[]' id='catresp' value='{$pref->getCatResp_ID()}' />
                                        <input type='hidden' name='resp[]' id='resp' value='{$pref->getResp_ID()}' />
                                        <input type='hidden' name='op[]' id='op' value='{$pref->getPref_Opcao()}' />
                                        <input type='hidden' name='com[]' id='com' value='{$pref->getPref_Comentario()}' />
                                        <input type='hidden' name='idlinha[]' id='idlinha' value='pref_{$pref->getPerg_ID()}_{$pref->getPref_Opcao()}' />
                                    </tr>
                                {/if}   
                                {/foreach}
                                <input type="hidden" name="nomeLi" id="nomeLi" value=""/>
                                <input type='hidden' name='total' id='total' value='{$total}' />
                                <input type='hidden' name='maiorid' id='maiorid' value='{$maiorid}' />                                    
                            </table>  
        <!----------------------------------------------------------------------------------------------------------------------------------------------------------------> 
                            <p><span class="label">Preferências Refência</span></p>   
                            
                            <table id="tabelaPreferenciaref" class="table tablepref table-bordered table-condensed">
                                <tr>
                                    <th>Pergunta</th>
                                    <th>Resposta</th> 
                                    <th>Observação</th>                                     
                                    <th>Ações</th>
                                </tr>
                                            
                                {foreach from=$preferenciasref item=prefref  name='loopref'}
                                {if $prefref->getPref_Opcao() > 1}
                                    <tr id="prefref_{$prefref->getPerg_ID()}_{$prefref->getPref_Opcao()}" class="trdetail">
                                        <td style="text-align:right;">{$prefref->getPref_Opcao()}°</td>
                                        <td>{$prefref->getResp_Valor()}</td>
                                        <td>{$prefref->getPref_Comentario()}</td>
                                        <td>
                                            <a href="#windowTitleDialog" id="{$prefref->getPerg_ID()}" onclick="editarref(this);" data-toggle="modal"><i id="edit" class="icon-edit"></i></a>
                                            <a href='#' id="{$prefref->getPerg_ID()}" onclick='excluirref(this);'><i id="trash" class='icon-trash'></i></a>
                                        </td>
                                        <input type='hidden' name='pergref[]' id='pergref' value='{$prefref->getPerg_ID()}' />
                                        <input type='hidden' name='pergdescref[]' id='pergdescref' value='{$prefref->getPerg_Descricao()}' />
                                        <input type='hidden' name='catrespref[]' id='catrespref' value='{$prefref->getCatResp_ID()}' />
                                        <input type='hidden' name='catresptab[]' id='catresptab' value='{$prefref->getCatresp_tabReferencia()}' />
                                        <input type='hidden' name='respref[]' id='respref' value='{$prefref->getPref_Resp()}' />
                                        <input type='hidden' name='opref[]' id='opref' value='{$prefref->getPref_Opcao()}' />
                                        <input type='hidden' name='comref[]' id='comref' value='{$prefref->getPref_Comentario()}' />
                                        <input type='hidden' name='idlinharef[]' id='idlinharef' value='prefref_{$prefref->getPerg_ID()}_{$prefref->getPref_Opcao()}' />
                                    </tr>
                                {else}
                                    <tr id="prefref_{$prefref->getPerg_ID()}_{$prefref->getPref_Opcao()}">
                                        <td>
                                            <a href='#' id="{$prefref->getPerg_ID()}" onclick='opcoesref(this);'><i id="open" class='icon-chevron-down'></i></a>
                                            {$prefref->getPerg_Descricao()}
                                        </td>
                                        <td>{$prefref->getResp_Valor()}</td> 
                                        <td>{$prefref->getPref_Comentario()}</td> 
                                        <td>
                                            <a href="#windowTitleDialog" id="{$prefref->getPerg_ID()}" onclick="editarref(this);" data-toggle="modal"><i id="edit" class="icon-edit"></i></a>
                                            {if $prefref->getPref_Resp() neq ''} 
                                                <a href='#windowTitleDialog' id="{$prefref->getPerg_ID()}" onclick='adicionaref(this);' data-toggle="modal"><i id="plus" class='icon-plus'></i></a>
                                            {/if}
                                        </td>
                                        <input type='hidden' name='pergref[]' id='pergref' value='{$prefref->getPerg_ID()}' />
                                        <input type='hidden' name='pergdescref[]' id='pergdescref' value='{$prefref->getPerg_Descricao()}' />
                                        <input type='hidden' name='catrespref[]' id='catrespref' value='{$prefref->getCatResp_ID()}' />
                                        <input type='hidden' name='catresptab[]' id='catresptab' value='{$prefref->getCatresp_tabReferencia()}' />
                                        <input type='hidden' name='respref[]' id='respref' value='{$prefref->getPref_Resp()}' />  
                                        <input type='hidden' name='opref[]' id='opref' value='{$prefref->getPref_Opcao()}' />
                                        <input type='hidden' name='comref[]' id='comref' value='{$prefref->getPref_Comentario()}' />
                                        <input type='hidden' name='idlinharef[]' id='idlinharef' value='prefref_{$prefref->getPerg_ID()}_{$prefref->getPref_Opcao()}' />
                                    </tr>
                                {/if}   
                                {/foreach}
                                <input type="hidden" name="nomeLiref" id="nomeLiref" value=""/>
                                <input type='hidden' name='totalref' id='totalref' value='{$totalref}' />
                                <input type='hidden' name='maioridref' id='maioridref' value='{$maioridref}' />                                    
                            </table>
                                
                                
                                
                          <div id="windowTitleDialog" class="modal hide fade">
                            <div class="modal-header">
                                <a data-dismiss="modal" class="close" href="#">×</a>
                                <h5>Edita Preferência Referência</h5>  
                            </div>
                            <div class="modal-body" style="overflow:auto;height:400px;">  
                                <div class="divDialogElements">
                                    <label class="control-label" id="perguntaref" for="pergidref"></label>
                                    <input type="hidden" name="pergidref" id="pergidref" />
                                    <input type="hidden" name="catrespref" id="catrespref" />
                                    <input type="hidden" name="catresptab" id="catresptab" />
                                </div>
                                <div id="retorno" class="divDialogElements">
                                    <!-- tabela com as opções que podem ser selecionadas - carregada por ajax-->   
                                </div>
                                <div class="divDialogElements">                                     
                                    <label for="opcaoref" class="control-label" >Prioridade/Opção:</label>
                                    <input type="text" id="opcaoref" name="opcaoref" class="input-small arrendondaInputSelect" disabled/>
                                    </br></br>                               
                                    <label for="comentarioref" class="control-label" >Observação:</label>
                                    <textarea  id="comentarioref" name="comentarioref" class="input-xlarge"></textarea>                                            
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
                                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" onClick="salvaref()">Salvar</button>
                            </div>
                           </div>
                                                           
                                                                      
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">{$nomeBotao}</button>     
                        </div>
                    </form>
                    <button class="btn" onclick="return abreListagem();">Voltar para Listagem</button>
                </fieldset>
            </div>
         </div>
       </div>
    </body>
</html>
