{include file="menu.html"}
<html>
    {literal}
    <head>
        <title>Garçom Nota 10!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="../V/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../V/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../V/css/processo.css">
        
    </head>
    {/literal}
    <body>
        <div id="conteudo" >
            <div class="container1">    

                            <center><h3>Bem Vindo ao Garçom Nota 10</h3></center></br></br>
                            <h5>Abaixo alguns links para o melhor aproveitamento do sistema</h5></br>
                            <ul>
                                <li><a href="../V/smarty/PDFs/introducao.pdf" target="_blank" >Introdução</a></li>
                                <li><a href="../V/smarty/PDFs/icones_de_manutencao.pdf" target="_blank" >Ícones de Manutenção</a></li>
                                <li><a href="../V/smarty/PDFs/clientes.pdf" target="_blank" >Clientes</a></li>
                            </ul>
 
            </div>
        </div>                        
    </body>
</html>

  