{include file="menu.html"}
<html>
    {literal}
    <head>
        <title>Garçom Nota 10!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="../V/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../V/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../V/css/processo.css">
    </head>
    {/literal}
    <body align="center">
        <div id="conteudo" >
            <div class="container1" style="width:20%;padding-top:10%; margin-left:35%;">     

        <form class="well" action="Home.php" method="POST">
            <div class="control-group">                                                              
                <div class="controls" align="center">
                    <label>Login</label>
                    <input type="text" class="span2 mcg" id="loginUser"/>
                    <label>Senha</label>
                    <input type="password" class="span2 mcg" id="passUser"/>
                    <center>
                    <button type="submit" class="btn">Entrar</button>
                    </center>
                </div>    
            </div>        
        </form>            

                         </div>
        </div>
    </body>
</html>