 {include file="menu.html"}           
<html>
    {literal}
    <head>
        <title>Usuarios</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="../V/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../V/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../V/css/processo.css">
        
        <script type="text/javascript" language="JavaScript" src="../V/js/bootstrap.js"></script>
        
        <script type="text/javascript" >

            $(function(){
                $("[rel=tooltip]").tooltip();
            });
                    
           function abreNovo(){
               window.location.href="cadUsuario.php";
           }
           
           function editar(idUsuario){
             window.location.href="cadUsuario.php?idUsuario="+idUsuario;  
             
           }
           
           function enviar(){
               $("#formUsuario").submit();

           }
           
           function excluir(idUsuario){
               if(confirm("Deseja realmente Excluir?")){
                   location.href="excluirUsuario.php?idUsuario="+idUsuario;
               }else{
                   return false;
               }
           
           }
        </script>
    </head>
    {/literal}
    <body>
        <div id="conteudo" {if $totalUsuarios > 10} style='height:100%;' {/if}>
            <div class="container1">
                    {if $ret eq 'se'}
                            <span class="label label-success">SUCESSO</span>
                            <span> O Usuário foi Excluido com Sucesso!</span>
                    {/if}
       
                    {if $ret eq 'ee'}
                            <span class="label label-important">ERRO</span>
                            <span> Não foi possivel excluir. </span>
                    {/if}              
                    <fieldset id="tabelaCadastro">
                        <legend id="textoNavegacao">&nbsp;&nbsp;Usuarios :: Listagem</legend>
                        <form class="well form-search" name="formUsuario" id="formUsuario" method="POST" action="listaUsuarios.php">
                                <div class="control-group">
                                    <div class="controls" style="margin-bottom:10px;">
                                        <label for="loginUsuario" class="control-label" style="font-size:13px;">Login:</label>
                                        <input type="text" id="loginUsuario" name="loginUsuario" class="input-xlarge arrendondaInputSelect" value="{$loginUsuario}">      
<!--                                    </div>
                                    <div class="controls" style="margin-bottom:10px;"> -->  
                                        <label for="idTipoAcesso" class="control-label" style="font-size:13px;">Tipo Acesso:</label>
                                        <select id="idTipoAcesso" name="idTipoAcesso" class="arrendondaInputSelect">
                                           <option value=""></option>
                                            {foreach from=$tipos item=tipo}
                                            <option value="{$tipo->getTipoAcesso_ID()}" {if $tipo->getTipoAcesso_ID() eq $idTipoAcesso} selected='selected' {/if} >{$tipo->getTipoAcesso_Tipo()}</option> 
                                            {/foreach}
                                        </select>                    
                                    <!--<div>-->
                                    <!-- Filtro por funcionário -->
                                    <!--<div class="controls" style="margin-bottom:10px;">   
                                        <label for="idFuncionario" class="control-label" style="font-size:13px;">Funcionario:</label>
                                        <select id="idFuncionario" name="idFuncionario" class="arrendondaInputSelect">
                                           <option value=""></option>
                                            {foreach from=$funcionarios item=funcionario}
                                            <option value="{$funcionario->getFuncionario_ID()}" {if $funcionario->getFuncionario_ID() eq $idFuncionario} selected='selected' {/if} >{$funcionario->getFuncionario_Nome()}</option> 
                                            {/foreach}
                                        </select>                    
                                    </div>  -->                                  
                                    <!--<div>-->    
                                        <button type="submit" onclick="enviar();" class="btn">Procurar</button>
                                    </div>
                                </div>
                           </form>
                    </fieldset>
                    <button onclick="return abreNovo();" class="btn btn-info">Novo Usuario</button>
                    <div class="grid">                        
                          <table class="table table-striped table-bordered table-condensed"> 
                              <tr>
                                  <th>Login</th>
                                  <th>Tipo Acesso</th> 
                                  <th>Funcionario</th>                                                               
                                  <th class=tdBotao>Editar</th>
                                  <th class=tdBotao>Excluir</th>
                              </tr> 
                              
                              {foreach from=$usuarios item=usuario }
                              
                              <tr>
                                  <td>{$usuario->getUsuario_Login()}</td>
                                  <td>{$usuario->getTipoAcesso_Tipo()}</td>
                                  <td>{$usuario->getFuncionario_Nome()}</td>           
                                  <td><a href="#" rel="tooltip" onclick="return editar('{$usuario->getUsuario_ID()}');"  title="Clique para Editar este Usuario"><i class="icon-edit"></i></a></td>                                  
                                  <td><a href="#" rel="tooltip" onclick="return excluir('{$usuario->getUsuario_ID()}');" title="Clique para Excluir este Usuario"><i class="icon-trash"></i></a></td>
                              </tr>
                              
                              {/foreach}
                          </table>
                    </div>
            </div>
       </div>
    </body>
</html>
